.avatar {
    /* vertical-align: middle; */
    border-radius: 50%;
}

.background{
  background-color: #f2f2f2;
}

.centerText{
  text-align: center;
}

.centerImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardStyles{
  border: .5px inset #52ab98;
  background-color: #fef9f8;
  border-radius: 5px;
  padding: 10px;
}

.profileHeadings{
  color: #52ab98;
}

/*dividing header*/
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*small*/
@media (max-width: 576px) {
  .profileName{
    font-size: 1.17em;
  }
}
/*extra small*/
@media (max-width: 575.98px) {
  .profileName{
    font-size: 1em;
  }
}

/*medium*/
@media (max-width: 768px) {
  .profileName{
    font-size: 1.17em;
  }
}
